<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Email Verification Success</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 20vh auto;
        }

        h1 {
            font-size: 2em;
            color: #0066cc;
        }

        p {
            font-size: 1.2em;
            color: #333;
        }
    </style>
</head>
<body>
<h1>Email Verification Successful</h1>
<p>You can now login to your application.</p>
</body>
</html>
